$flip-clr: #2874f0;

.search {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  input {
    border: none;
    outline: none;
    width: 40vw;
    padding: 10px 15px;
    border-radius: 3px;
  }
  img {
    color: flip-clr;
    padding: 5px;
    font: size 23px;
  }
  .searchicon {
    height: 20px;
    width: 20px;
  }
}
